html {
  height: 100%;
}
body {
  font-family: "Courier New", Courier, monospace;
  color: #212121;
  background-color: #c890a7;
  background-image: linear-gradient(#c890a7, #a35c7a);
  padding: 20px 0;
  width: 100%;
  position: relative;
}
.weather-app {
  padding: 40px 20px;
  max-width: 60%;
  display: block;
  margin: auto;
  background-color: #fbf5e5;
  border-radius: 5px;
  border: solid 1px #a35c7a;
}
.search-form {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
#input-city {
  width: 55%;
  font-size: 16px;
  padding: 5px 10px;
  font-family: "Ubuntu Mono", serif;
  font-weight: 300;
  background-color: #fbf5e5;
  border-radius: 5px;
  border: solid 1px #a35c7a;
}
#search-button {
  font-size: 16px;
  padding: 5px 10px;
  font-family: "Ubuntu Mono", serif;
  font-weight: 300;
  background-color: #c890a7;
  border-radius: 5px;
  border: solid 1px #a35c7a;
}
#search-button.hover {
  background-color: #a35c7a;
  transition: 200ms ease-in-out;
}
#message {
  text-align: center;
  font-size: 15px;
  color: #a35c7a;
  font-family: "Ubuntu Mono", serif;
  font-weight: 300;
}
.city-info {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#city {
  font-size: 50px;
  margin-bottom: 0;
}
.day-time {
  margin-top: 0;
}
.weather-emoji {
  margin: auto;
  display: block;
  position: relative;
  width: 150px;
}
.weather-info {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 5px 30px;
}
#temp {
  font-size: 45px;
}
.weather {
  margin-top: 30px;
}
a:link {
  color: #212121;
}
a:visited {
  color: #c890a7;
}
footer {
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
  font-family: "Ubuntu Mono", serif;
  color: #a35c7a;
}
